<template>
  <div class="kForm">
    <h1>kForm component (vue):</h1><br />
    <k-input v-model="email.value" v-bind="email"></k-input><br /><br />
    <k-input v-model="address.value"></k-input><br /><br />
    <k-textarea v-model="comment.value" v-bind="comment"></k-textarea><br /><br />
    <k-textarea v-model="secret.value"></k-textarea><br /><br />
    <k-select v-model="city.value" v-bind="city"></k-select><br /><br />
    <k-select v-model="sex.value" v-bind="sex"></k-select><br /><br />
    <div v-if="boysOnly">
      Custom form functionality test. This is visible only for boys ;-)
    </div>
    <k-button @click="submit">send</k-button>
    <k-button @click="reset">reset</k-button>
  </div>
</template>

<script>
import kForm from "../component/kForm.vue"

export default {
  mixins: [ kForm ],
  data() {
    return {
      address: {
        value: "custom address value",
      },
      city: {
        value: null,
        required: true,
        list: [
          { text: "New York", value: "NY" },
          { text: "London", value: "L" },
          { text: "Tokyo", value: "T" }
        ],
        placeholder: "custom city placeholder",
        label: "enter city:",
        custom: true, // enable custom user input for select
      },
      comment: {
        value: null,
        required: true,
        autovalidate: true, // enable on-the-fly field validation
        placeholder: "custom comment placeholder",
        label: "enter comment (autovalidated):",
      },
      email: {
        value: null,
        required: true,
        type: "email",
        placeholder: "custom email placeholder",
        label: "enter email:",
        errors: { // custom error messages
          required: { text: "custom error: e-mail is mandatory", value: false },
          format: { text: "custom error: enter valid e-mail", value: false }
        },
      },
      secret: {
        value: "custom secret value",
      },
      sex: {
        value: null,
        list: [
          { text: "Male", value: "M" },
          { text: "Female", value: "F" }
        ],
        label: "for mobile:",
        placeholder: "select sex",
        mobile: true, // change select view for mobiles
        custom: true, // enable custom user input for select
      },
    }
  },
  computed: {
    boysOnly() {
      return this.sex.value === "M" ? true : false
    }
  },
  methods: {
    send() {
      alert("sending...")
      console.log(this._data)
    },
  }
}
</script>
