<script>
import kButton from "k-button"
import kInput from "k-input"
import kSelect from "k-select"
import kTextarea from "k-textarea"

export default {
  components: {
    kButton,
    kInput,
    kSelect,
    kTextarea
  },
  data() {
    return {
    }
  },
  computed: {
    errors() {
      for (var field in this._data) {
        if (this[field] && this[field].errors && (this[field].errors.required.value || this[field].errors.format.value))
          return true
      }

      return false
    }
  },
  created() {
    for (var field in this._data) {
      if (this[field] && (this[field].required || this[field].format)) {
        this.addDefaultErrorsPropertyForField(field)
        this.addWatcherForField(field)
      }
    }
  },
  methods: {
    // add default errors property for required and formatted fields, if no given
    addDefaultErrorsPropertyForField(field) {
      if (!this[field].errors) {
        this.$set(this[field], "errors", {
          required: { text: null, value: false },
          format: { text: null, value: false }
        })
      } else {
        if (!this[field].errors.required)
          this.$set(this[field].errors, "required", {
            text: null,
            value: false
          })

        if (!this[field].errors.format)
          this.$set(this[field].errors, "format", {
            text: null,
            value: false
          })
      }
    },

    addWatcherForField(field) {
      this.$watch(
        function() { return this[field].value },
        function() { this.handleFieldChange(field) }
      )
    },

    handleFieldChange(field) {
      this.resetFieldErrors(field)

      if (this[field].autovalidate)
        this.validate(field)
    },

    reset() {
      for (var field in this._data) {
        this.resetFieldErrors(field)
        this.resetFieldValue(field)
      }
    },

    resetFieldErrors(field) {
      for (var type in this[field].errors) {
        this[field].errors[type].value = false
      }
    },

    resetFieldValue(field) {
      this[field].value = null
    },

    submit() {
      this.validateAll()

      if (!this.errors)
        this.send()
    },

    validate(field) {
      if (this[field].required && !this[field].value)
        this[field].errors.required.value = true
      else if (this[field].type && this[field].type === "email" && !isEmail(this[field].value))
        this[field].errors.format.value = true
      else
        this.resetFieldErrors(field)
    },

    validateAll() {
      for (var field in this._data) {
        if (this[field] && (this[field].required || this[field].type))
          this.validate(field)
      }
    },
  }
}

function isEmail(str) {
  if (!str)
    return false

  var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
  return reg.test(str)
}
</script>

<style lang="sass" src="./kForm.sass"></style>
